@import "tailwindcss";

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    height: 100%;
}

:root {
    --main-bg: black;
    --main-padding: 2rem;
    --main-font-size: 2rem;
}

/* ----------------------------------- */


.container {
    /* background-color: red; */
    width: 600px;
    height: 600px;
    padding: 20px;
}

.box {
    background-color: var(--main-bg);
    width: 200px;
    height: 200px;
    margin: 20px;
    font-size: var(--main-font-size);
    /* transition: all 3s;
    color: green;*/
    position: relative;
    text-align: center;
    transition: all 3s;
    animation-name: learn;
    animation-duration: 1s;
    animation-iteration-count: 0;
    animation-delay: 3s;
}

@keyframes learn {
    from {
        left: 0;
        position: absolute;
    }

    from {
        bottom: 0;
        position: absolute;
    }

    to {
        border-radius: 50%;
        left: 100%;
        position: absolute;
    }
}

.box:hover {
    background-color: white;
    /* text-decoration: line-through; */


}

/* .box::after{
    content: '';
    position: absolute;
    left: 0;
    top: 13%;
    width: 0%;
    height: 2px;
    background: red;
    transition: width 0.5s ease;
    transform: translateY(-50%);
}
.box:hover::after{
    width: 100%;
} */

.btn {
    background-color: red;
    padding: 10px;
    width: 160px;
    cursor: pointer;
    position: relative;
    color: white;
    z-index: 11;
}

.btn::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: black;
    transition: width 1s;
    z-index: -1;
}

.btn:hover::before {
    width: 100%;

}
.btn {
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }
  /* .image-container{
    transition: transform 0.5s ;
  } */
  